In [86]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [87]:
train = pd.read_csv('ml_train.csv')
test = pd.read_csv('ml_test.csv')

In [88]:
train['totals.transactionRevenue'] = train['totals.transactionRevenue'].fillna(0)

In [89]:
train['fullVisitorId'].nunique()

719186

In [90]:
test['fullVisitorId'].nunique()

639230

In [91]:
train.shape

(903653, 113)

In [92]:
test.shape

(804684, 112)

In [93]:
target = train[['totals.transactionRevenue']]

train = train.drop(['totals.transactionRevenue'],axis = 1)

In [94]:
from sklearn import cross_validation
X_train, X_test, y_train, y_test = cross_validation.train_test_split(train, target['totals.transactionRevenue'], test_size=0.4, random_state=0)

In [95]:
from sklearn import tree
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)

In [96]:
y_preds = clf.predict(X_test)

In [97]:
from sklearn.metrics import mean_squared_error
print("MSE:", mean_squared_error(y_test, y_preds))

MSE: 4462388951991080.0

In [98]:
y_pred = clf.predict(test)

In [99]:
sub = test[['fullVisitorId']]
sub['PredictedLogRevenue'] = y_pred

In [100]:
sub['fullVisitorId'].nunique()

639230

In [103]:
import math
sub['PredictedLogRevenue'] = sub['PredictedLogRevenue'].T.apply(lambda x : math.log(x) if x!=0 else x)

In [104]:
import csv
sub.to_csv('sub_1.csv',index = False)

In [105]:
sub[sub['fullVisitorId']==1000035437777728789]

              fullVisitorId  PredictedLogRevenue
25407   1000035437777728789                  0.0
147256  1000035437777728789                  0.0
147795  1000035437777728789                  0.0
185641  1000035437777728789                  0.0
187252  1000035437777728789                  0.0
188511  1000035437777728789                  0.0
217326  1000035437777728789                  0.0
607489  1000035437777728789                  0.0
711378  1000035437777728789                  0.0
728120  1000035437777728789                  0.0
741338  1000035437777728789                  0.0

In [107]:
import numpy as np

In [108]:
submission = sub.groupby("fullVisitorId").agg({"PredictedLogRevenue" : "sum"}).reset_index()
submission["PredictedLogRevenue"] = np.log1p(submission["PredictedLogRevenue"])
submission["PredictedLogRevenue"] =  submission["PredictedLogRevenue"].apply(lambda x : 0.0 if x < 0 else x)

In [109]:
submission

              fullVisitorId  PredictedLogRevenue
0              259678714014                  0.0
1             3038793126460                  0.0
2             9663019041506                  0.0
3            10438463470860                  0.0
4            10992980461157                  0.0
5            13360843297579                  0.0
6            17196000342279                  0.0
7            18672749561458                  0.0
8            18809460226514                  0.0
9            18998785589239                  0.0
10           25784765293776                  0.0
11           49363351866189                  0.0
12           59381693533730                  0.0
13           59488412965267                  0.0
14           59785881683218                  0.0
15           61214566278074                  0.0
16           63394874386185                  0.0
17           70226479201528                  0.0
18           74103170376404                  0.0
19           76952112114175                  0.0
20           84391855276144                  0.0
21           85055448572680                  0.0
22           88751495106967                  0.0
23           89152042155758                  0.0
24           91131414287111                  0.0
25           92114723355299                  0.0
26           94154452308463                  0.0
27           95085510298525                  0.0
28           95817109154949                  0.0
29           96369688341885                  0.0
...                     ...                  ...
639200  9997363048771165852                  0.0
639201   999743379500665370                  0.0
639202  9997564568124833957                  0.0
639203  9997676018733701611                  0.0
639204  9997778423599125439                  0.0
639205  9997783375379351430                  0.0
639206  9997860457607050184                  0.0
639207  9997863348593197068                  0.0
639208    99982623851723049                  0.0
639209  9998286704763161826                  0.0
639210  9998401480783903107                  0.0
639211  9998480922510285740                  0.0
639212  9998757467962515930                  0.0
639213  9998956848818646694                  0.0
639214  9999032060323549930                  0.0
639215  9999070971411033293                  0.0
639216  9999112775150680436                  0.0
639217  9999136945887060446                  0.0
639218   999917398463465750                  0.0
639219  9999180222639780495                  0.0
639220  9999205271965164893                  0.0
639221  9999217226019147315                  0.0
639222  9999231789832007561                  0.0
639223  9999393801373383609                  0.0
639224  9999394656119537117                  0.0
639225  9999614340989943927                  0.0
639226  9999629963061245228                  0.0
639227  9999715835738672145                  0.0
639228  9999819762744314978                  0.0
639229  9999997304197521748                  0.0

[639230 rows x 2 columns]

In [111]:
submission.to_csv("sub_1.csv", index=False)